h3 {
  margin-top: 0;
}
ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
  margin: 5px;
  padding: 2;
  font-size: 13px;
}

#form-task2 {
  box-sizing: border-box;
  padding: 10px;
  width: 230px;
  background-color: bisque;
}
.p {
  display: inline;
  margin-left: 5px;
}
.p2 {
  display: inline;
  font-size: 8px;
  margin-left: 5px;
}

.input-form2 {
  width: 110px;
}
#area2 {
  display: block;
  margin: auto;
  width: 200px;
  height: 30px;
}
#btn2 #btn3 {
    display: block;
    margin: 10px auto 15px;
  cursor: pointer;

}
option {
    font-size: 10px;
}

.divBtn{
    display: flex;
    justify-content: space-around;
}


#wraperForm {
  display: block;

  width: 150px;
  height: max-content;
  background-color: rgb(230, 187, 173);
}

.wraperUsers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  background-color: darkseagreen;
}
.userDiv {
  width: 280px;
  box-sizing: border-box;
  margin: 10px;
  background-color: rgb(121, 160, 121);
}
.userDiv:hover{
  border: solid 1px rgb(48, 63, 48);
  background-color: rgb(126, 163, 126);
}
.userDiv>p {
  margin: 2px;
}