.div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 200px;
   background-color: brown;
   border-radius: 12px;
   border: black 2px solid;
   margin: 3px;
}
.div:hover {
   background-color: rgb(197, 59, 59);
   color: blue;
}

.p {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 200px;
   background-color: rgb(42, 165, 48);
   border-radius: 12px;
   border: black 2px solid;
   margin: 3px;
}
.p:hover {
   background-color: rgb(70, 197, 59);
   color: blue;
}

.h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 200px;
   background-color: rgb(165, 147, 42);
   border-radius: 12px;
   border: black 2px solid;
   margin: 3px;
}
.h3:hover {
   background-color: rgb(195, 197, 59);
   color: blue;
}

.a {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
   width: 200px;
   background-color: rgb(165, 42, 144);
   border-radius: 12px;
   border: black 2px solid;
   margin: 3px;
}
.a:hover {
   background-color: rgb(204, 69, 170);
   color: blue;
}

.diiv {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding-bottom: 10px;
   background-color: darkgrey;
}
.diiv2 {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 85%;
   background-color: rgb(211, 191, 191);
   border-radius: 12px;
   border: black 2px solid;
   margin-bottom: 5px;
   text-align: center;
}
.diiv2:hover {
   background-color: rgb(216, 166, 166);
}
.h2 {
   text-align: center;
}
.h33 {
   font-size: 17px;
   margin: 2px;
}




.ruleWraper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 60px;
   background-color: rgb(87, 115, 151);
   margin: 10px 0px;
}

.rule {
   box-sizing: border-box;
   width: 48%;
   padding: 5px;
   height: 70%;
   text-align: center;
   border-radius: 10px;
   background-color: rgb(146, 219, 195);

}
.body {
   box-sizing: border-box;
   width: 48%;
   padding: 5px;
   height: 70%;
   text-align: center;
   border-radius: 10px;
   background-color: rgb(214, 149, 149);
}