.btn {
  width: 140px;
  font-size: 18px;
  padding: 3px;
}
.hover {
  background-color: rgb(248, 248, 157);
}
.child {
  background-color: rgb(250, 210, 210);
  border: 2px solid;
}
.none {
  visibility: hidden;
}
