* {
    margin: 0;
    padding: 0;
}

/* .divTask1 {
    width: 100px;
    height: 100px;
    background-color: brown;
}


/*  */

/*============ task 4 ==============*/

/* .containerMenu {
    display: flex;
    box-sizing: border-box;
    background-color: darkslategrey;
}

.btnMenu {
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    display: flex;
    width: 80px;
    height: 35px;
    background-color: rgb(71, 136, 136);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 2px rgb(127, 155, 155);
    margin: 5px 15px;
}
.btnMenu:hover {
    background-color: rgb(87, 156, 156);
    cursor: pointer;
}

.blockMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    background-color: rgb(74, 134, 131);
    border-radius: 5px;
    padding: 15px 0px;
}
.itemMenu {
    display: flex;
    align-items: center;
    margin: 3px;
    width: 100px;
    height: 18px;
    background-color: rgba(51, 90, 90, 0);
    border: solid 2px lightslategrey;
    padding: 2px;
}
.itemMenu:hover {
    background-color: rgb(56, 105, 105);
    cursor: pointer;
}


/*  */

/*============ task 5 ==============*/


/* .containerListComents {
    width: 100%;
    background-color: rgb(236, 220, 205);
}

.objectWraper {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.titleWraper{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center;
    background-color: rgb(235, 199, 165);
    margin-bottom: 5px;
}

.titleLC {
    width: 50%;
}

.btnLC {
    width: 90px;
    font-size: 10px;
    padding: 3px;
    margin: 4px 0px;
    border-radius: 7px;
}

.bodyLC {
    font-size: 12px;
    margin: 0px 15px 10px 15px;
} */ 


/*  */

/*============ task 6 ==============*/

/* .form {
    display: flex;
    justify-content: right;
    background-color: khaki;
    width: 210px;
    flex-wrap: wrap;
    padding: 5px;
}
.form p {
    font-size: 13px;
    margin-top: 5px;
    
}
.form input {
    box-sizing: border-box;
    margin: 5px 5px 5px 10px;
    width: 135px;
    height: 15px;
    font-size: 10px;
    padding: 0px 10px 0px 10px;
}
.btn{
    width: 210px;
    font-size: 13px;
    margin: 5px;
} */


/*  */

/*============ task 7 ==============*/

/* .tableConteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(255, 172, 172);
}
.table {
    text-align: center;
    background-color: linen;
    margin: 15px 0px;
} */


/*  */

/*============ task 8 ==============*/

/* .tableFormInput {
    display: flex;
    justify-content: right;
    background-color: khaki;
    width: 240px;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px 10px 5px;
}
.tableFormInput p {
    font-size: 13px;
    margin-top: 5px;
    
}
.tableFormInput input {
    box-sizing: border-box;
    margin: 5px 5px 5px 10px;
    width: 115px;
    height: 16px;
    font-size: 10px;
    padding: 0px 10px 0px 10px;
}
.button {
    width: 240px;
    font-size: 13px;
    margin: 0px 15px 15px;
}

.none {
    display: none;
}  */ 


/*  */

/*============ task 9 ==============*/

/* #content {
    width: 100%;
    height: 150px;
    background-color: darkkhaki;

}
.wraper {
    display: flex;
    justify-content: space-around;
}

.imgs {
    width: 180px;
    height: 100px;
    margin: 10px 0px;
    border-radius: 10px;
    border: solid 2px;
}

.buttons {
    display: flex;
    justify-content: center
}

.btn {
    width: 80px;
} */

/*  */

/*============ task 10 ==============*/
.input {
    width: 300px;
    height: 20px;
}






ul {
    margin: 30px;
}
li {
    font-size: 12px;
}
li:hover {
    background-color: aquamarine;
}







.wrap_checkbox {
    display: block;
    margin: 30px;
    list-style-type: none;
}
.checkbox {
    display: block;
    
}
.filterText {
    display: inline-block;
}
#btnFilter {
    padding: 3px;
    font-size: 11px;
    margin-top: 10px;
}

#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightpink;
}

.card {
    width: 180px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(181, 201, 141);
    border-radius: 10px;
    border: 2px solid olivedrab;
}



