*{
   margin: 0;
   padding: 0;
}

.block {
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-sizing: border-box;
   width: 100%;
   background-color: #d3a595;
   padding: 5px;
   margin: 10px 0;
   text-align: center;
}

.item {
   background-color: #a75959;
   margin: 3px;
}

.item2 {
   background-color: #84aa6f;
   margin: 3px;
}

.wraper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   height: 500px;
   width: 100%;
   background-color: cornflowerblue;
}

.tabItem {
   height: 90px;
   width: 90px;
   background-color: rgb(141, 168, 219);
   border-radius: 20px;
   border: rgb(0, 0, 0) 4px solid;
}

.tabItem:hover {
   border: rgb(53, 37, 37) 4px solid;
   background-color: rgb(219, 141, 141);

}


.ruleWraper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: 60px;
   background-color: rgb(87, 115, 151);
   margin: 10px 0px;
}

.rule {
   box-sizing: border-box;
   width: 48%;
   padding: 5px;
   height: 70%;
   text-align: center;
   border-radius: 10px;
   background-color: rgb(146, 219, 195);

}
.body {
   box-sizing: border-box;
   width: 48%;
   padding: 5px;
   height: 70%;
   text-align: center;
   border-radius: 10px;
   background-color: rgb(214, 149, 149);
}